<!--The content below is only a placeholder and can be replaced.-->
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
<div class="row">
    <div class="col-md-12">
    <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
    <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>
